<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Sistema de Eventos</title>
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<!--Menu-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/">EventosSystem</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" href="/evento/cadastro">Cadastrar Evento</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/evento/lista">Listar Eventos</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="/ingresso/cadastro">Cadastrar Ingresso</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/ingresso/lista">Listar Ingresso</a>
			</li>
		</ul>
	</div>
</nav>
<!--Menu-->

<div class="container-fluid">
	<p class="lead" th:text="${message}"></p>

	<div class="container" >
		<div class="form-group">
			<h3>Cadastro de Evento</h3>
			<form class="form" action="#" th:action="@{/evento/cadastro}" method="post" >

				<div class="row">
					<div class="col">
						<div class="form-group">
							<label for="nome">Nome do evento</label>
							<input class="form-control" type="text" id="nome" name="nome" placeholder="Digite um nome"/>
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label for="dataDoEvento">Data do Evento</label>
							<input class="form-control" type="date" id="dataDoEvento" name="dataDoEvento"/>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label>Tipos de Ingresso que serão vendidos: </label>

					<th:block th:each="tipo : ${tipos}">
						<input type="checkbox"
							   th:name="${{tipo}}"
							   th:value="${tipo}"/>
						<label th:text="${tipo.nome}"></label>
					</th:block>

				</div>

				<div class="row">
					<div class="col">
						<div class="form-group">
							<label for="inicioVendas">Data de início da venda dos ingressos:</label>
							<input class="form-control" type="date" id="inicioVendas" name="inicioVendas"/>
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label for="finalVendas">Data limite da venda dos ingressos:</label>
							<input class="form-control" type="date" id="finalVendas" name="finalVendas"/>
						</div>
					</div>
				</div>


				<input type="submit" value="Salvar" class="btn btn btn-primary"/>

			</form>
		</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>