<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Sistema de Eventos</title>
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
	<body>
		<!--Menu-->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/">EventosSystem</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="/evento/cadastro">Cadastrar Evento</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/evento/lista">Listar Eventos</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="/ingresso/cadastro">Cadastrar Ingresso</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/ingresso/lista">Listar Ingresso</a>
					</li>
				</ul>
			</div>
		</nav>
		<!--Menu-->

		<div class="container-fluid">
			<p class="lead" th:text="${message}"></p>

			<div class="container" >
				<div align="center" class="form-group">
					<h3>Cadastro de Evento</h3>
					<form class="form-inline" action="#" th:action="@{/evento/cadastro/salva}" method="post" >

						<div class="form-group">
							<label for="nome">Nome do evento</label>
							<input class="form-control" type="text" id="nome" name="nome" placeholder="Digite um nome"/>
						</div>

						<div class="form-group">
							<label for="data">Data do Evento</label>
							<input class="form-control" type="date" id="data" name="data"/>
						</div>

						<input type="submit" value="Salvar" class="btn btn btn-primary"/>
					</form>
				</div>
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="/bootstrap/js/bootstrap.min.js"></script>

	</body>
</html>