<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Sistema de Eventos</title>
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
	<body>
		<!--Menu-->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/">EventosSystem</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/evento/cadastro">Cadastrar Evento</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/evento/lista">Listar Eventos</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="/ingresso/cadastro">Cadastrar Ingresso</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/ingresso/lista">Listar Ingresso</a>
					</li>
				</ul>
			</div>
		</nav>
		<!--Menu-->

		<div class="container-fluid">

			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>#</th>
						<th>Nome Evento</th>
						<th>Data Evento</th>
						<th>Data Inicio Vendas</th>
						<th>Data Fim Vendas</th>
						<th>Tipos Ingressos</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="evento : ${eventos}">
						<td scope="row" th:text="${evento.id}"></td>
						<td th:text="${evento.nome}"></td>
						<td th:text="${evento.dataDoEvento}"></td>
						<td th:text="${evento.inicioVendas}"></td>
						<td th:text="${evento.finalVendas}"></td>
						<td th:text="${evento.listaIngressoTipoEnum}"></td>
					</tr>
				</tbody>
			</table>

		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="/bootstrap/js/bootstrap.min.js"></script>

	</body>
</html>