<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>TASIMA - Trabalho de deploy</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default">
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/evento/cadastro">Cadastro de Eventos</a></li>
				<li><a href="/evento/lista">Lista de Eventos</a></li>
			</ul>
		</nav>
		<div align="center">
		
			<p class="lead" th:text="${message}">...</p>
			
			<a href="/" class="btn btn-primary">Voltar</a>
		</div>
	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="bootstrap/js/bootstrap-theme.min.css"></script>

</body>
</html>